.background-shadow {
  width: calc(100% - 64px - 300px);
  background-color: rgba(0, 0, 0, 0.25);
  margin-left: 64px;
  margin-right: 300px;
  position: absolute;
  height: 100%;
}

.cartInfo-headerContainer {
  display: flex;
  align-items: center;
}
